# Binaries
dist/

# Logs and State
/tmp/redborder-sensors/
/tmp/redborder-sensor-*
/var/lib/redborder-sensors/
wget-log

# RPM Build
/tmp/rpmbuild-sensors/

# OS/Editor artifacts
.DS_Store
.vscode/
.idea/
*.swp
*.log
